.H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt
}
.H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt
}
BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt
}
BR {
	FONT-WEIGHT: normal; FONT-SIZE: 4pt
}
.setumei_m {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.tbl_l {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt
}
.tbl_m {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt
}
.tbl_s {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt
}
.nagare_l {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.nagare_m {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt
}
.chui_l {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.chui_m {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt
}
.chui_s {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.setsumei {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.ryoukin {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt
}
.table
{
	border:1px solid black;
}
.table tr td
{
	border:1px solid black;
}